<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the 
  Get help on the Ruby on Rails Tutorial at the￼  
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
  